body {
  margin: 0;
  background-color: #d5d5d5;
  font-family: 黑体;
}
a {
  text-decoration: none;
  color: #009191;
}
a:hover {
  color: blue;
  text-decoration: underline;
}
a:visited {
  color: #009191;
}
div {
  text-align: center;
}
hr {
  height: 2px;
  border: none;
  border-top: 2px solid #ffffff;
}
sup {
  color: red;
}
.tb {
  line-height: 150%;
  width: 80%;
  margin: 0px auto;
  text-align: left;
  font-size: 1.15em;
  font-family: 碳纤维中黑简体;
  letter-spacing: 0.02em;
}
.td1 {
  font-size: 0.9em;
  text-align: center;
  width: 30%;
}
.td2 {
  font-size: 1.25em;
  font-family: 黑体;
  color: #b10000;
  height: 30px;
  text-align: center;
}
.t50 {
  font-size: 1.2em;
  font-family: 方正楷体_GBK;
  color: #b10000;
  letter-spacing: 1px;
  height: 50px;
  text-align: center;
}
.jz {
  text-align: center;
}
.zt {
  font-family: 华文新魏;
}
.zhs {
  font-size: 0.9em;
}
.bh {
  color: #800000;
}
.zs {
  font-size: 0.9em;
  color: #800000;
}
.l {
  font-size: 1.1em;
}
.m {
  font-size: 0.9em;
  color: #02439c;
}
#tj {
  display: none;
}
